.body{
    margin: 0;
    font-family: monospace, arial, sans-serif;
}

#container{
    width: 100%;
    height: 100%;
    background-color: #202232;
    min-height: 518px;
}

#title {
    display: flex;
    justify-content: left;
    font-size: 22px;
    letter-spacing: 3px;
    height: 100%;
    background-color: #2d628d;
    max-height: 85px;
}
#title > h1{
    font-size: 30px;
    color: #eef14d;
    line-height: 50px;
    text-shadow: 1px 2px 3px #1c1c1c;
}

#form {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

footer {
    color: #fff;
    justify-content: center;
    display: flex;
    background-color: #2d628d;
    font-size: 17px;
}

footer a {
    text-decoration: none;
    color: #eef14d;
    transition: 0.1s;
}

footer a:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.options{
    display: flex;
}
.group1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7%;
    padding: 30px;
}

.link{
    display: block;
    text-decoration: none;
    border: none;
    width: 312px;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0px 0px 4px #eef14d;
    text-align: center;
    padding: 23px;
}
.link:hover{
    background-color: #eef14d;
    box-shadow: 0px 0px 3px #346f9e;
    color: #346f9e;
}
.section{
    position: absolute;
    background-color: #2022323d;
    border-radius: 5px;
    width: 45%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 3%;
    margin-top: 50px;
    border-color: #66bbed;
    box-shadow: 0px 0px 2px #346f9e;
    border: 1px solid #5c5c5c;
}

.section > h2{
    font-size: 30px;
    color: #eef14d;
    text-shadow: 1px 2px 3px #1c1c1c;
}
.section2{
    position: absolute;
    background-color: #2022323d;
    border-radius: 5px;
    width: 45%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 51%;
    margin-top: 50px;
    box-shadow: 0px 0px 2px #346f9e;
    border: 1px solid #5c5c5c;

}

.section2 > h2{
    font-size: 30px;
    color: #eef14d;
    text-shadow: 1px 2px 3px #1c1c1c;
}

#logo{
    display: flex;
    align-items: center;
    padding: 20px;
}

.entry{
    background-color: #2d628d;
    border-radius: 5px;
    width: 875px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px;
}

.entry > input{
    background-color: #ffffff;
    width: 88%;
    height: 75%;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 20px;
    margin: 6px;
    padding-left: 12px;
}
#btn{
    width: 39px;
    margin-left: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2d628d;
    border: none;
    outline: none;
}
#btn > i{
    font-size: 28px;
    color: white;
}
#btn > i:hover{
    color: #eef14d;
    cursor: pointer;
    text-shadow: 1px 1px 2px #202232;
}
.bordas{
    padding: 20px;
    width: 100%;
    height: 100%;
    min-height: 387px;
    display: flex;
}
.bordas > a{
    font-size: 42px;
    text-decoration: none;
    color: #2d628d;
}
.bordas > a:hover{
    color: #eef14d;
    cursor: pointer;
    text-shadow: 1px 1px 2px #202232;
}
.group1 > img{
    position: absolute;
    width: 35%;
    top: 131px;
    height: 44%;
    border-radius: 50%;
}