.body{
    margin: 0;
    font-family: monospace, arial, sans-serif;
}

#container{
    width: 100%;
    height: 100%;
    background-color: #202232;
    min-height: 600px;
}

#title {
    display: flex;
    justify-content: left;
    font-size: 22px;
    letter-spacing: 3px;
    height: 100%;
    background-color: #346F9E;
    max-height: 85px;
}
#title > h1{
    font-size: 30px;
    color: #eef14d;
    line-height: 50px;
    text-shadow: 1px 2px 3px #1c1c1c;
}

footer {
    color: #fff;
    justify-content: center;
    display: flex;
    background-color: #346F9E;
}

footer a {
    text-decoration: none;
    color: #eef14d;
    transition: 0.5s;
}

footer a:hover {
    font-weight: bolder;
    font-size: 18px;
}

.options{
    display: flex;
}
.group1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 7%;

}

.link{
    display: block;
    text-decoration: none;
    border: none;
    width: 312px;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 0px 0px 3px #eef14d;
    text-align: center;
    padding: 20px;
}
.link:hover{
    background-color: #eef14d;
    box-shadow: 0px 0px 3px #346f9e;
    color: #346f9e;
}
.section{
    position: absolute;
    background-color: #2022323d;
    border-radius: 5px;
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 3%;
    margin-top: 67px;
    border-color: #66bbed;
    box-shadow: 0px 0px 2px #346f9e;
    border: 1px solid #5c5c5c;
}

.section > h2{
    font-size: 30px;
    color: #eef14d;
    margin-top: -10%;
    text-shadow: 1px 2px 3px #1c1c1c;
}
.section2{
    position: absolute;
    background-color: #2022323d;
    border-radius: 5px;
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 51%;
    margin-top: 67px;
    box-shadow: 0px 0px 2px #346f9e;
    border: 1px solid #5c5c5c;

}

.section2 > h2{
    font-size: 30px;
    color: #eef14d;
    margin-top: -10%;
    text-shadow: 1px 2px 3px #1c1c1c;
}

#logo{
    display: flex;
    align-items: center;
}

.entry{
    background-color: #64b9eb;
    border-radius: 30px;
    width: 875px;
    height: 48px;
    margin-top: 190px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 2px cadetblue;
}

.entry > input{
    background-color: #ffffff;
    width: 86%;
    height: 75%;
    border-radius: 30px;
    border: none;
    outline: none;
    margin-left: 5px;
    font-size: 20px;
    padding-left: 26px;
}
#btn{
    width: 39px;
    margin-left: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #64b9eb;
    border: none;
    outline: none;
}
#btn > i{
    font-size: 28px;
    color: white;
}
#btn > i:hover{
    color: #eaeaea;
    cursor: pointer;
    text-shadow: 2px 2px 2px cadetblue;
}
.bordas{
    position: absolute;
    background-color: #96cce7;
    width: 100%;
    height: 88%;
    top: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bordas > a{
    position: absolute;
    left: 7px;
    top: 2px;
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.bordas > a:hover{
    color: rgb(231, 231, 231);
}
.group1 > img{
    position: absolute;
    width: 35%;
    top: 131px;
    height: 44%;
    border-radius: 50%;
}