<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free/css/all.min.css') }}"
</head>
<body class="body">
    <div id="title">
        <div id="logo">
            <img src="{{ url_for('static', filename='image/logo_project.png') }}" style="height: 70px;">
        </div>
        <h1>Project_Downloader</h1>
    </div>
    <div id="container">
        {% block body %}

        {% endblock body %}
    </div>
    <footer>
         <p>Desenvolvido por <a href="https://github.com/RodrigoBuen" target="_blank">Rodrigo</a></p>
    </footer>
</body>
</html>