{% extends "base.html" %}

{% block title %}
Project_Downloader
{% endblock title %}

{% block body %}
<div class="options">
    <div class="section">
        <h2>Musics</h2>
        <div class="group1">
            <a href="musica-nome" class="link">Download with music name</a>
        </div>
        <div class="group1">
            <a href="musica-link" class="link">Download with link (youtube)</a>
        </div>
    </div>
     <div class="section2">
        <h2>Videos</h2>
        <div class="group1">
            <a href="video-link" class="link">Download with link (youtube)</a>
        </div>
    </div>

</div>

{% endblock body %}