{% extends "base.html" %}

{% block title %}
Download Viken
{% endblock title %}

{% block body %}
<div class="options">
    <div class="section">
        <h2>Musicas</h2>
        <div class="group1">
            <a href="musica-nome" class="link">Baixar por nome da musica</a>
        </div>
        <div class="group1">
            <a href="musica-link" class="link">Baixar por link (youtube)</a>
        </div>
    </div>
     <div class="section2">
        <h2>Videos</h2>
        <div class="group1">
            <a href="video-link" class="link">Baixar por link (youtube)</a>
        </div>
    </div>

</div>
{% endblock body %}